---
import BaseLayout from "../../../layout/base-layout.astro"

---
<BaseLayout>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[100vw] h-[100vh] duration-1000 has-[.active]:w-[90vmin] has-[.active]:h-[90vmin] has-[.active]:rounded-4xl bg-white shadow-2xl">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90vmin] h-[90vmin] delay-560 duration-1000 bg-white has-[.active]:bg-[#ccc] rounded-4xl flex flex-col gap-2 items-center justify-center">
      <h1 class="absolute top-5 left-1/2 -translate-x-1/2 text-6xl font-thin tracking-wider opacity-0 delay-600 duration-1000 has-[~.active]:opacity-100">Login</h1>
      <input type="text" class="bg-green-800 text-white py-2 px-4 rounded-full" placeholder="put your email here :)" onfocus="document.getElementById('base').classList.add('active')">
      <button id="next-btn" class="absolute bottom-5 left-1/2 -translate-x-1/2 rounded-full bg-[#ccc] opacity-0 has-[~.active]:opacity-100"></button>
      <span id="base"></span>
    </div>
  </div>
</BaseLayout>

<style>
  #next-btn {
    animation-name: next-btn;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }
  
  #next-btn::after {
    content: '';
    animation-name: next-btn-content;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }

  @keyframes next-btn {
    0% {
      transform: rotateY(0);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  @keyframes next-btn-content {
    0% {
      content: "Next";
    }
    50% {
      content: ">";
    }
    100% {
      content: "Next";
    }
  }
</style>