@import "tailwindcss";

* {
  font-family: "Saira Variable", calibri;
}

html, body {
  margin:0 !important;
  padding:0 !important;
  width: 100vw !important;
  min-height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

::selection {
  background-color: #20924f;
  color: white;
}