---
import InputTokenForm from "../../../../components/register/input_token_form";
import TokenSubmitButton from "../../../../components/register/token_submit_button";
import BaseLayout from "../../../../layout/base-layout.astro"

---
<BaseLayout>
  <div class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-fit px-8 py-10 *:text-black max-w-[500px]">
    <h1 class="font-thin text-6xl text-center w-full">VERIFY</h1>
    <p class="mb-20 font-thin text-md text-center w-full">Check your email and paste the token below</p>
    <div class="w-full h-full flex flex-col gap-4">
      <InputTokenForm client:load />
    </div>
    <TokenSubmitButton client:load />    
  </div>
</BaseLayout>