---
import "../styles/global.css";
// @ts-expect-error No types needed for font import
import "@fontsource-variable/saira";
import Toast from "../components/global/toast";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>G.A.I.A (Green Aquaponics Intelligent Assistant)</title>
	</head>
	<body>
		<Toast client:only />
		<slot />
	</body>
</html>